<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="comName" value="COM1"/>
    <add key="comBaudRate" value="115200"/>
    <add key="comDataBits" value="8"/>
    <add key="comStopBits" value="1"/>
    <add key="comParity" value="None"/>
  </appSettings>
</configuration>